<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029761536101-cgepo7odqubj9khdgeni8ss4326j3tgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029761536101-cgepo7odqubj9khdgeni8ss4326j3tgo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1029761536101-9ud1vu9c6m6k2l7lofmd5nluaa155aq0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAq3KfiK_6jng3pH6cPdwQmiKUVV5Rtzm4</string>
	<key>GCM_SENDER_ID</key>
	<string>1029761536101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mentalhealthgdscuit</string>
	<key>PROJECT_ID</key>
	<string>mental-heath-gdsc-uit</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-heath-gdsc-uit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029761536101:ios:45ea3be29d6627a288f68c</string>
	<key>DATABASE_URL</key>
	<string>https://mental-heath-gdsc-uit-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>